@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  display: flex;
  width: 100%;
  
}
ิbody #root {
  font-family: 'Kanit', sans-serif;
}
a:link { text-decoration: none; color: unset; }


a:visited { text-decoration: none; color: unset; }


a:hover { text-decoration: none; color: unset; }


a:active { text-decoration: none; color: unset; }
@keyframes fadeIn { 
  from { opacity: 0; } 
}

.animate-flicker {
    animation: fadeIn 1s infinite alternate;
}
.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}